@using Microsoft.AspNetCore.Identity
@inject SignInManager<CustomUser> SignInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - src</title>
    <link rel="icon" href="~/app/lib/images/favicon.ico">
    
    <!-- Fonts & Icons Required To Enhance The Look -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Product+Sans:400&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Google+Sans:400,500&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap" rel="stylesheet">
    
    <!-- Stylesheets that are going to work in Development Environment -->
    <environment include="Development">
        <link rel="stylesheet" href="~/app/lib/stylesheets/materialize.css" >
        <link rel="stylesheet" href="~/app/src/stylesheets/__initStudentClassroomLayout__.css" >
    </environment>
    
    <!-- Stylesheets that are going to work in Non-Development Environment -->
    <environment exclude="Development">
        <link rel="stylesheet" href="~/app/lib/stylesheets/materialize.min.css" >
    </environment>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <header>
        <nav class="nav-extended nav-fixed blue darken-3">
            <div class="nav-wrapper">
                <a class="brand-logo" id="page-logo" href="#">
                    <i class="material-icons" id="page-logo-icon">brightness_7</i> eLuminous
                </a>
                <a href="#" class="sidenav-trigger" data-target="mobile-nav">
                    <i class="material-icons">menu</i>
                </a>
                <ul id="navtabs" class="tabs tabs-transparent">
                    <li class="tab">
                        <a id="tabStudentNotices" target="_self" asp-action="__StudentNotices__" asp-controller="Classrooms" asp-route-sid="@ViewBag.SID" asp-route-cid="@ViewBag.CID">Assesments</a>
                    </li>
                    <li class="tab">
                        <a id="tabStudentExperiments" target="_self" asp-action="__StudentExperiments__" asp-controller="Classrooms" asp-route-sid="@ViewBag.SID" asp-route-cid="@ViewBag.CID">Experiments</a>
                    </li>
                    <li class="tab">
                        <a id="tabStudentFriends" target="_self" asp-action="__StudentFriends__" asp-controller="Classrooms" asp-route-sid="@ViewBag.SID" asp-route-cid="@ViewBag.CID">People</a>
                    </li>
                </ul>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a asp-action="Logout" asp-controller="Account" class="waves-effect waves-light"><i class="material-icons left">power_settings_new</i>Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-nav">
            <li><a class="title" asp-action="__StudentNotices__" asp-controller="Classrooms" asp-route-sid="@ViewBag.SID" asp-route-cid="@ViewBag.CID">Notices</a></li>
            <li><a class="title" asp-action="__StudentExperiments__" asp-controller="Classrooms" asp-route-sid="@ViewBag.SID" asp-route-cid="@ViewBag.CID">Experiments</a></li>
            <li><a class="title" asp-action="__StudentFriends__" asp-controller="Classrooms" asp-route-sid="@ViewBag.SID" asp-route-cid="@ViewBag.CID">People</a></li>
            <li>
                <a asp-action="Logout" asp-controller="Account" class="waves-effect waves-light"><i class="material-icons left">power_settings_new</i>Logout</a>
            </li>
        </ul>
    </header>
        
    <div id="load" class="progress orange lighten-1">
        <div class="indeterminate orange lighten-4"></div>
    </div>

    <div id="contents">
         @RenderBody()
    </div>
    
<!-- Scripts that are going to work in Development Environment -->
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery/ui.js"></script>
        <script src="~/app/lib/scripts/materialize.js"></script>
        <script src="~/app/src/scripts/__initStudentClassroomLayout__.js"></script>
    </environment>

    <!-- Scripts that are going to work in Non-Development Environment -->
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery/ui.js"></script>
        <script src="~/app/lib/scripts/materialize.min.js"></script>
    </environment>

@RenderSection("Scripts", required: false)
</body>
</html>
