@using System.Globalization
@model List<Submission> 
@{
    Layout = "_LayoutStudentClassroom";
}

@if (Model.Count == 0)
{
    <br/>
    <h5 class="center-align">You have no Notices yet</h5>
}

@if (Model.Count > 0)
{
    <div class="row">
        <div class="col s12 l12">
            <div class="card horizontal hoverable">
                <div class="card-image">
                    <img id="assesmentImage" src="~/app/lib/images/private/undraw_children_4rtb.svg" alt="">
                </div>
                <div class="card-stacked">
                    <div class="card-title">
                        <h4>Assessment Sheet</h4>
                    </div>
                    <div class="card-content">
                        <ul class="collection">
                            @foreach (var eachSubmission in Model)
                            {
                                <li class="collection-item avatar">
                                    <i class="material-icons circle grey darken-3">school</i>
                                    <span class="title">@eachSubmission.Experiment.ExperimentName</span>
                                    <p><b>Quality Ratio : </b>@eachSubmission.QualityRatio<br>
                                        <b>Quality Status : </b>
                                        @eachSubmission.QualityStatus
                                    </p>
                                    <p><b>Marks :</b> @eachSubmission.MarksGiven</p>
                                    <p><b>Last updated at :</b> @eachSubmission.LastUpdated</p>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="card-action">
                        <a class="blue-text text-darken-3"><b>Invent something together</b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $( document ).ready(function() {
      $("#tabStudentNotices").attr('class', 'active');
    });
</script>