@using System.Globalization
@model List<Classroom>
@{
    ViewData["Title"] = "Public Keys";
}

@if (Model.Count == 0)
{
    <h5 class="center-align">No classrooms available yet</h5>
}

@{
    var colors = new List<string> {"green", "blue", "pink", "purple", "orange", "teal", "cyan", "red", "deep-purple"};
    var textInfo = new CultureInfo("en-US", false).TextInfo;
}

@if (Model.Count > 0)
{
    <div class="container">
    <div class="card hoverable">
        <h5 class="center-align">Available e-Labrooms</h5>
        <ul class="collection">
            @foreach (var eachClassroom in Model)
            {
                <li class="collection-item avatar">
                    <i class="material-icons circle @colors[new Random().Next(colors.Count)]">accessibility_new</i>
                    <span class="title">@eachClassroom.ClassroomTitle</span>
                    <p><b>Teacher : </b> @textInfo.ToTitleCase(eachClassroom.Teacher.Account.UserName)<br>
                        @eachClassroom.Teacher.Institution.InstitutionName
                    </p>
                    <p class="code">
                        Labroom Access Code : <b>@eachClassroom.AccessCode</b>
                    </p>
                    <a href="#" id="@eachClassroom.AccessCode" class="secondary-content"><i class="material-icons teal-text text-darken-1">file_copy</i></a>
                </li>
            }
        </ul>
    </div>
    </div>
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $( document ).ready(function() {
      $(".secondary-content").on("click",function(){
         let copyText = this.id;
         let input = document.createElement('input');
         input.value = copyText;
         
         document.body.appendChild(input);
         input.select();
         document.execCommand('copy');
         showMaterialToast("Code copied "+ copyText, "deep-purple darken-4");
         document.body.removeChild(input);
      });
    });
    
    function showMaterialToast(data, style) {
        M.toast({
            html : data,
            classes : style
        });
    }
</script>
